/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {

#primary { width:67%; }
#secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
}

#primary { width:100%; }
#secondary { width:100%; margin:0; border:none; }
/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
}

html { font-size:100%; }
#primary { width:100%; }
#secondary { width:100%; margin:0; border:none; }


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
.column {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}
}

@media all and (max-width: 480px) {
  .navigation li {
     flex-basis: 100%;
  }
@media all and (max-width: 1000px) {
.navigation ul {
 flex-wrap: wrap;
}

.navigation li {
 flex: 1 1 50%;
}
}

@media only screen and (max-width: 480px) {
.post-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (max-width: 480px) {
.navigation li {
   flex-basis: 100%;
  }
}

/* If the screen size is 600px wide or less, hide the element*/
@media only screen and (max-width: 600px) {
  div.card {
    display: none;
  }
}

@media (max-width: 480px) {
  .blog-container{
    grid-template-areas:
    "header"
    "main-content";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

  