


.blog-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-column-gap: 5px;
    grid-row: span;
    justify-items: stretch;
    height: 100vh;
    grid-template-areas: 
    "post postbar"
    "post postbar"
    "footer footer";
        
}


.mainpost {
    
    font-family: Montserrat, sans-serif;
    font-size: large;
    overflow: auto;
}

    h2 {
    background-color:#66ffa6;
    }


.card {
       
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);   
    border: 5px ridge #66ffa6;
    max-width: 250px;
    margin: auto;
    text-align: center;
    background-color:  #f5c9c9;
    font-family: Montserrat, sans-serif;
}

.card img{
    max-width: 250px;
    max-height: 250px;
}
      
.title {

    color:#916a6a;
    font-size: 18px;
    font-family: Montserrat, sans-serif;


